body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/*---------Top Section Styles---------*/

.banner-container {
  background: #2d25a0;
  width: 960px;
  display: flex;
  align-items: center;
  padding: 50px 200px 70px 200px;
}

.title h1 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #e02c6d;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
}

.banner-image {
  transition: transform 1s ease-in-out;
}

.banner-container:hover .banner-image {
  transform: scale(1.3);
}

/* ----------Player Card Section Styles------- */

.player-container {
  padding: 70px 70px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}

.player {
  width: 330px;
  height: 494px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-image img {
  width: 100%;
}

.player-info h2 {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
}

.player-info p {
  font-size: 16px;
  color: #6c6c6c;
  font-family: "Poppins", sans-serif;
}

/*-----------Highlights Section Styles--------------*/

.highlight-container {
  display: flex;
  align-items: center;
  padding: 80px 150px;
}

.highlight-info h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-right: 60px;
  margin-bottom: 0;
}

.highlight-info p {
  font-size: 16px;
  color: #6c6c6c;
  margin-bottom: 24px;
}

.highlight-image img {
  width: 567px;
  height: 427px;
}

/*----------History Champions Section Styles ------------*/

.champion-heading {
  text-align: center;
}

.champion-heading img {
  width: 15%;
}

.champion-heading h2 {
  font-size: 30px;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
}

.champions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  padding-left: 100px;
  text-align: center;
}

.champion {
  width: 330px;
  height: 495px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.champion img {
  width: 100%;
}

.champion h1 {
  margin-bottom: 0;
}

.champion h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(158, 62, 91);
}

.champion p {
  margin-top: 0;
}

/*------------subscribe-form-------------*/

.subscribe-form {
  text-align: center;
  background-color: rgb(211, 230, 243);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.form input {
  font-size: 1em;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid;
  margin-bottom: 20px;
  background-color: #bab6f1;
  text-align: center;
}

/*-----------Footer Section Styles-------------*/

footer {
  text-align: center;
  padding: 30px 0;
}

.logo-area img {
  width: 483.87px;
  height: 110px;
}

.social-icon i {
  border-radius: 50%;
  background: #969babcc;
  color: #666974;
  padding: 5px;
}

footer p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
 


/*-------------Media Queries----------------*/

/* Media Query For Mobile Screen */
@media only screen and (max-width: 668px) {
  .banner-container {
    width: 100%;
    flex-direction: column;
    padding: 0 0 20px 0;
  }
  .heading h1 {
    font-size: 40px;
  }

  .banner-image img {
    width: 100%;
  }

  .player-container {
    padding: 50px 0;
  }

  .players {
    grid-template-columns: repeat(1, 1fr);
    padding: 15px;
  }

  .highlight-container {
    flex-direction: column;
    padding: 0 0 50px 20px;
  }

  .highlight-info h1 {
    font-size: 30px;
  }

  .highlight-image img {
    width: 328px;
    height: 248px;
    margin-top: 28px;
  }

  .match {
    width: 100%;
  }

  .champions {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 15px;
  }

  .champion {
    margin-top: 20px;
  }

  footer {
    padding: 100px 0;
  }

  .logo-area img {
    width: 100%;
  }
}

/* Media Query For Tablet Screen */
@media only screen and (min-width: 668px) and (max-width: 992px) {
  .banner-container {
    width: 100%;
  }
  .heading h1 {
    font-size: 40px;
  }

  .banner-image img {
    width: 100%;
  }

  .player-container {
    padding: 50px 0;
  }

  .players {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 0 200px;
  }

  .highlight-container {
    flex-direction: column;
    padding: 0 0 50px 350px;
  }

  .highlight-info h1 {
    font-size: 30px;
  }

  .highlight-image img {
    width: 656px;
    height: 496px;
    margin-top: 28px;
  }

  .today-match {
    width: 150%;
  }

  .champions {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 330px;
  }

  .champion-heading {
    margin-left: 360px;
  }

  .champion {
    margin-top: 20px;
  }
  .subscribe-form {
    width: 150%;
  }

  footer {
    padding-left: 250px;
  }
}
